@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply bg-gray-800 hover:bg-gray-700 text-gray-100 font-medium px-7 py-1.5 rounded;
  }

body{
  font-family: 'Montserrat', sans-serif;
  color: #022B49;
  background-image: url('../public/bgg.png');
  background-position: center;
  background-size: cover;
  /* background-image: url('bgg.png') */
}